<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>CD Collection</title>
  <link rel="stylesheet" href="edit.css">
</head>

<body>
  <div class="container">
    <div class="brand-logo"></div>
    <div class="brand-title">Platform</div>
    <div class="inputs">

      <% cds.forEach(function(details) { %>
        <form action="/edit/<%= details._id %>" method="POST">
          <label for="fname">Tittle</label>
          <input class="input" type="text" value="<%= details.title %>" name="title">
          <label for="artist">Artist</label>
          <input class="input" type="text" value="<%= details.artist %>" name="artist">
          <label for="genre">Genre</label>
          <input class="input" type="text" value="<%= details.genre %>" name="genre">

          <button type="submit" class="btn btn-sucess">Edit Music</button>
          <button action="/show">List All</button>
        </form>
    </div>
  </div>
 
  <% }) %>
</body>
</html>
