<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>CD Collection</title>
</head>

<body>
  <div class="container">
    <div class="brand-logo"></div>
    <div class="brand-title">Platform</div>
    <div class="inputs">

      <% cds.forEach(function(details) { %>
        <form action="/edit/<%= details._id %>" method="POST">
          <label for="fname">Tittle</label>
          <input class="input" type="text" value="<%= details.title %>" name="title">
          <label for="artist">Artist</label>
          <input class="input" type="text" value="<%= details.artist %>" name="artist">
          <label for="genre">Genre</label>
          <input class="input" type="text" value="<%= details.genre %>" name="genre">

          <button type="submit" class="btn btn-sucess">Edit Music</button>
          <button action="/show">List All</button>
        </form>
    </div>
  </div>
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;900&display=swap');


    body {
      margin: 0;
      width: 100vw;
      height: 100vh;
      background: #ecf0f3;
      display: flex;
      align-items: center;
      text-align: center;
      justify-content: center;
      place-items: center;
      overflow: hidden;
      font-family: poppins;
    }

    .container {
      position: relative;
      width: 350px;
      height: 600px;
      border-radius: 20px;
      padding: 40px;
      box-sizing: border-box;
      background: #ecf0f3;
      box-shadow: 14px 14px 20px #cbced1, -14px -14px 20px white;
    }
    .brand-logo {
      height: 100px;
      width: 100px;
      background: url("https://icons.iconarchive.com/icons/wwalczyszyn/iwindows/96/Music-Library-icon.png");
      margin: auto;
      border-radius: 50%;
      box-sizing: border-box;
      box-shadow: 7px 7px 10px #cbced1, -7px -7px 10px white;
    }

    .brand-title {
      margin-top: 10px;
      font-weight: 900;
      font-size: 1.8rem;
      color: #1DA1F2;
      letter-spacing: 1px;
    }
    .inputs {
      text-align: left;
      margin-top: 30px;
    }
     label,
    input,
    button {
      display: block;
      width: 100%;
      padding: 0;
      border: none;
      outline: none;
      box-sizing: border-box;
    }

    label {
      margin-bottom: 4px;
    }

    label:nth-of-type(2) {
      margin-top: 12px;
    }
    input::placeholder {
      color: gray;
    }

    input {
      background: #ecf0f3;
      padding: 10px;
      padding-left: 20px;
      height: 50px;
      font-size: 14px;
      border-radius: 50px;
      box-shadow: inset 6px 6px 6px #cbced1, inset -6px -6px 6px white;
    }
  </style>
  <% }) %>
</body>
</html>
