<!DOCTYPE <html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>CD Collection</title>
</head>
<body>
  <h2>Insert New<h2>
  <form action="/show" method="POST">
    <input type="text" placeholder="Title" name="title">
    <input type="text" placeholder="Artist" name="artist">
    <input type="text" placeholder="Genre" name="genre">
    <button type="submit">Submit</button>
  </form>
</body>
</html>
