<!DOCTYPE <html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>CD Collection</title>
  <link rel="stylesheet" href="template.css">

</head>
<body>
  <div class="container">
    <div class="brand-logo"></div>
    <div class="brand-title">Platform</div>
    <div class="inputs">
      <form action="/show" method="POST">
        <label for="fname">Tittle</label>
        <input class="input" type="text" placeholder="Tittle" name="title">
        <label for="artist">Artist</label>
        <input class="input" type="text" placeholder="Artist" name="artist">
        <label for="genre">Genre</label>
        <input class="input" type="text" placeholder="Genre" name="genre">
        <button type="submit" class="btn btn-sucess">Add Music</button>
      </form>
    </div>
  </div>

  
</body>

</html>
